@tailwind base;
@tailwind components;
@tailwind utilities;



/* =================================== 
共通
=================================== */
@media (min-width: 960px) {
  .is-sp {
    display: none;
  }
}


/* =================================== 
ブログ
=================================== */
#BlogBody * {
  margin-bottom: 1rem;
}

#BlogFooter a {
  text-decoration: underline;
}