@tailwind base;
@tailwind components;
@tailwind utilities;



/* =================================== 
共通
=================================== */
@media (min-width: 960px) {
  .is-sp {
    display: none;
  }
}


/*========= スクロールバー ===============*/
.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: #009688;
  transform-origin: 0%;
  z-index: 999;
}


/*========= リンク ===============*/
/*========= ホバーしたら下線が出てくる ===============*/
.link.under-line {
  padding-bottom: 5px;
  position: relative;
}
.link.under-line::before {
  background: #0d9488;
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
.link.under-line:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}


/*========= ハンバーガーボタン ===============*/
.hamburgerBtn {
	/*ボタン内側の基点となるためrelativeを指定。
  追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: relative;
	/* background: #d4d4d8; */
	cursor: pointer;
  width: 60px;
  height:50px;
	/* border-radius: 5px; */
}
/*ボタン内側*/
.hamburgerBtn span{
  display: inline-block;
  transition: all .4s;/*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #111111;
}


.hamburgerBtn span:nth-of-type(1) {
  top:15px;	
  width: 60%;
}

.hamburgerBtn span:nth-of-type(2) {
  top:25px;
  width: 45%;
}

.hamburgerBtn span:nth-of-type(3) {
  top:35px;
  width: 30%;
}


/* =================================== 
スクロールダウン
=================================== */
/*スクロールダウン全体の場所*/
.scrolldown{
  /*描画位置※位置は適宜調整してください*/
  position:absolute;
  bottom: 10%;
  right:50%;
  /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
  0%{bottom:1%;}
  50%{bottom:3%;}
  100%{bottom:1%;}
}

/*Scrollテキストの描写*/
.scrolldown span{
  /*描画位置*/
  position:absolute;
  left:-20px;
  bottom:15px;
  /*テキストの形状*/
  color: #000;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown:before {
  content:"";
  /*描画位置  */
  position:absolute;
  bottom:10px;
  right: -6px;
  /*矢印の形状*/
  width:2px;
  height:20px;
  background:#000;
  transform:skewX(-31deg);
}

.scrolldown:after{
  content:"";
  /*描画位置*/
  position: absolute;
  bottom:10px;
  right:0;
  /*矢印の形状*/
  width:2px;
  height: 50px;
  background:#000;
}


/* =================================== 
成果物
=================================== */
#WorkBody * {
  margin-bottom: 1.5rem;
}

#WorkBody h1,
#WorkBody h2, 
#WorkBody h3, 
#WorkBody h4 {
  font-weight: 700;
}

#WorkBody h1 {
  font-size: 1.5rem;
}

#WorkBody h2 {
  font-size: 1.25rem;
}

#WorkBody h3 {
  font-size: 1.1rem;
}

#WorkBody a {
  color: #007065;
}

#WorkBody p {
  line-height: 1.75rem;
  letter-spacing: 1.25;
}

#WorkBody li {
  list-style: disc;
  margin-bottom: 0.5rem;
  margin-left: 1.3rem;
}

#WorkBody img {
  border-radius: 1rem;
}

#WorkFooter a,
#WorkBody a {
  text-decoration: underline;
}